@font-face {
    font-family: "Donoun";
    src: url("../Resources/Fonts/Donoun Medium.ttf")format("truetype");
}

@font-face {
    font-family: "JejuDoldam";
    src: url("../Resources/Fonts/EF_jejudoldam(윈도우용_TTF).ttf")format("truetype");
}

@font-face {
    font-family: "EF_Diary";
    src: url("../Resources/Fonts/EF_Diary.ttf")format("truetype");
}
@font-face {
    font-family: "Buildingsandundertherailwaytracks";
    src: url("../Resources/Fonts/jp/Buildingsandundertherailwaytracks-Regular.otf")format("truetype");
}
@font-face {
    font-family: "TsunagiGothic";
    src: url("../Resources/Fonts/jp/TsunagiGothic.ttf")format("truetype");
}
@font-face {
    font-family: "ZenMaruGothic";
    src: url("../Resources/Fonts/jp/ZenMaruGothic-Medium.ttf")format("truetype");
}

@keyframes logomotion {
    0% {transform: rotate( 1deg );}
    100% {transform: rotate( -1deg );}
}

@-webkit-keyframes logomotion {
    0% {transform: rotate( 1deg );}
    100% {transform: rotate( -1deg );}
}

@keyframes top10motion {
    0% {transform: rotate( 4deg );}
    100% {transform: rotate( -4deg );}
}

@-webkit-keyframes top10motion {
    0% {margin-top: 0px;}
    100% {margin-top: 10px;}
}

@keyframes clickmotion {
    0% {transform: scale(1.15);}
    100% {transform: scale(1);}
}

@-webkit-keyframes clickmotion {
    0% {transform: scale(1.15);}
    100% {transform: scale(1);}
}

/*클릭했을 때 테두리 생기는 것 방지*/
*:focus {
    outline: none;
}

.logo-div{
    float: left;
    margin-top: 6.5vw;
    margin-left: 4vw;
}
.logo-inline-div{
    animation: logomotion 0.7s linear 0s infinite alternate;
    -webkit-animation: logomotion 0.7s linear 0s infinite alternate;
}

.logo-editorPick{
    font-family: "Donoun";
    font-size: 2vw;
}
.logo-sub-japanese{
    font-family: "ZenMaruGothic";
    font-size: 1.5vw;
    padding-bottom: 10px;
}

.logo-korean{
    line-height: 0.7;
    display: inline;
    font-family: "JejuDoldam";
    font-size :10vw;
}
.logo-japanese{
    line-height: 0.7;
    display: inline;
    font-family: "TsunagiGothic";
    font-size :10vw;
}

.inputWrap {
    display: flex;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid #e2e0e0;
}
.inputWrap:focus-within {
    border: 1px solid rgb(100, 100, 100);
}

.input {
    width: 100%;
    outline: none;
    border: none;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
}

.input::placeholder {
    color: #dadada;
}

.errorMessageWrap {
    margin-top: 8px;
    margin-bottom: 20px;
    color: #ef0000;
    font-size: 12px;
}

.categorySection {
    display: flex;
    justify-content: center; /* 가로로 중앙 정렬 */
    flex-wrap: wrap; /* 필요할 경우 다음 줄로 넘어가도록 설정 */
    gap: 20px; /* 카테고리 사이의 간격 설정 */
    width: 100%; /* 부모 요소가 가로로 꽉 차도록 설정 */
}
.categoryImage {
    margin-top: 20px;
    width: 250px;
    height: 250px;
}
.category {
    display: inline-block;
    width: 300px;
    height: 300px;
    border-style: none;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.category:hover {
    transition: 0.3s;
    letter-spacing: 0px;
    transform: scale(1.15);
    box-shadow: 7px 15px 20px rgb(150, 150, 150);
    cursor: pointer;
}
.category:active {
    transform: scale(1.25);
}




.main-text-container{
    display: block;
    margin-left: 29vw;
    margin-right: 30vw;
    margin-bottom: 3vw;
}

.main-text1, .main-text2, .main-text3, .main-text5{
    display: block;
    width: 30vw;
    margin-left: 5vw;
}

.main-text4{
    display: block;
    width: 37vw;
    margin-left: 2vw;
}

.main-text5{
    margin-left: 7.5vw;
    margin-top: 1vw;
    animation: clickmotion 0.7s linear 0s infinite alternate;
    -webkit-animation: clickmotion 0.7s linear 0s infinite alternate;
}
.main-text2-jp, .main-text3-jp{
    display: block;
    width: 40vw;
    margin-left: 1vw;
}

.main-text4-jp{
    display: block;
    width: 45vw;
    margin-left: -2vw;
}

.top10-container{
    margin-top: 10vw;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}


.top10 {
    width: 40vw;
    animation: top10motion 0.7s linear 0s infinite alternate;
    -webkit-animation: top10motion 0.7s linear 0s infinite alternate;
}

.foodTop10{
    width: 20vw;
    padding: 5vh;
}

.activityTop10{
    margin-top: 3vw;
    width: 35vw;
    padding: 5vh;
}

.accomodationTop10{
    margin-top: 3vw;
    width: 23vw;
    padding: 5vh;
}

.attractionTop10{
    margin-top: 3vw;
    width: 23vw;
    padding: 5vh;
}
.foodTop10_jp{
    width: 25vw;
    padding: 5vh;
}

.activityTop10_jp{
    margin-top: 3vw;
    width: 45vw;
    padding: 5vh;
}

.accomodationTop10_jp{
    margin-top: 3vw;
    width: 33vw;
    padding: 5vh;
}

.attractionTop10_jp{
    margin-top: 3vw;
    width: 23vw;
    padding: 5vh;
}
.carousel_container {
    display: flex;
    flex-wrap: wrap; /* 필요한 경우 줄 바꿈 */
    justify-content: center; /* 중앙 정렬 */
}

.carousel_div {
    display: inline-block;
    width: 220px;
    text-align: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 2px 10px 2px;
}
.carousel_img {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border-style: none;
    box-shadow: 7px 15px 20px rgb(150, 150, 150);
}
.carousel_img:hover {
    transition: 0.3s;
    letter-spacing: 0px;
    transform: scale(1.1);
    box-shadow: 7px 15px 20px rgb(100, 100, 100);
    cursor: pointer;
}
.carousel_name {
    font-family: "Donoun";
    font-size: 1.3vw;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998; /* 모달 배경의 z-index도 높게 설정 */

}

.mainBottomBackground{
    display: block;
    width: 100vw;
}



