.top10-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* 가장 높은 z-index 값 */

}

.top10-modal-content {
    background-image: url('../Resources/Images/background-image/mapDiv-background.png'); /* 이미지 배경 추가 */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /* 이미지가 화면을 덮도록 설정 */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 10000;
    width: 85%; /* 화면 너비의 85%로 설정 */
    height: 80%;

}

.top10-modal-close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    outline: none;
}
.top10-modal-close-btn:hover {
    color: black;
}
.kakao-map-iframe {
    margin-top: 5vw;
    border: 0;
    height: 700px;

}
