
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* 가장 높은 z-index 값 */

}



.modal-content {
    background: white; /* 기본 흰색 배경 */
    background-image: url('../Resources/Images/background-image/main_body_background.png'); /* 이미지 배경 추가 */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /* 이미지가 화면을 덮도록 설정 */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 10000;
    width: 85%; /* 화면 너비의 85%로 설정 */
    height: 80%;
}

/* 닫기 버튼 스타일링 */
.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: gray;
    outline: none;
}

.modal-close-btn:hover {
    color: black; /* 호버 시 빨간색 */
}


@font-face {
    font-family: "Donoun";
    src: url("../Resources/Fonts/Donoun Medium.ttf")format("truetype");
}

@font-face {
    font-family: "EF_Diary";
    src: url("../Resources/Fonts/EF_Diary.ttf")format("truetype");
}


#search {
    text-align: center;
    margin-top: 70px;
}
.searchDiv {
    width: 100vw;
}
select::-ms-expand {
    display: none;
}
#categorySelect {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../Resources/Images/background-image/selectIcon.jpeg') no-repeat 97% 50%;
    display: inline-block;
    width: 160px;
    height: 40px;
    padding: 10px 20px 10px 13px;
    font-size:15px;
    font-family: "EF_Diary";
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: white;
    cursor: pointer;
}
.searchInputDiv{
    display: inline-block;
    position: relative;
    margin-left: 10px;
    width: 35%;
}
#searchInput {
    display: inline-block;
    width: 100%;
    padding: 10px 7px;
    font-size: 14px;
    font-family: "EF_Diary";
    border: none;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
#searchIcon {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 0px;
    margin: 0;
    cursor: pointer;
}
.buttonDiv{
    display: inline-block;
}
.addSearchDiv{
    margin-top: 30px;
    margin-bottom: 30px;
}
.addButtonDiv{
    display: inline-block;
    margin-left: 20px;
}
#initializeBtn{
    margin-left: 30px;
    height: 35px;
    width: 75px;
    background-color: rgb(255, 226, 152);
    display: inline-block;
    font-family: "EF_Diary";
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#showAllBtn{
    margin-left: 7px;
    height: 35px;
    width: 75px;
    background-color: rgb(239, 167, 71);
    display: inline-block;
    font-family: "EF_Diary";
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#searchBtn{
    margin-left: 27px;
    height: 35px;
    width: 75px;
    background-color: rgb(173, 191, 246);
    display: inline-block;
    font-family: "EF_Diary";
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#addBtn{
    margin-left: 7px;
    height: 35px;
    width: 75px;
    background-color: #baeec3;
    display: inline-block;
    font-family: "EF_Diary";
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#addWithCommentBtn{
    margin-left: 7px;
    margin-right: 200px;
    height: 35px;
    width: 75px;
    background-color: #baeec3;
    display: inline-block;
    font-family: "EF_Diary";
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.NotFound{
    margin-top:150px;
    font-size: 50px;
}


