.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* 다른 요소 위에 나오도록 설정 */
    //background-color: white; /* 배경색 추가 가능 */
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 약간의 그림자 추가 */
}

/* ToggleSwitch.css */
.toggle-container {
    float: right;
    margin-top: 1vh;
    margin-right: 1vw;
    cursor: pointer;
}

.toggle-track {
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #3c4145; /* 비활성 상태일 때 배경 */
    border-radius: 25px;
    transition: background-color 0.3s, border-color 0.3s;
    border: 1px solid #1c1c1c;
    display: flex; /* 플렉스 박스로 변경 */
    justify-content: space-between; /* 양쪽 끝에 배치 */
    align-items: center; /* 중앙 정렬 */
}

.toggle-track.active {
    background-color: #9ee3fb; /* 활성 상태일 때 배경 */
    border-color: #86c3d7; /* 활성 상태일 때 테두리 */
}

.toggle-thumb {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumb-active {
    transform: translateX(80px); /* 활성 상태일 때 thumb 위치 */
}

.thumb-inactive {
    transform: translateX(0); /* 비활성 상태일 때 thumb 위치 */
}

.flag-icon {
    width: 100%;
    height: 30px;
    border-radius: 50%; /* 동그란 아이콘 */
}
.toggle-text {
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    transition: opacity 0.3s ease;
}

.left-text {
    left: 10px;
}

.right-text {
    right: 10px;
}

.active-text {
    opacity: 1;
}

.inactive-text {
    opacity: 0;
}


.toggle-track.active .left-text {
    color: black; /* 한국어일 때 검정색 */
}

.toggle-track.inactive .right-text {
    color: white; /* 일본어일 때 흰색 */
}


.loginBtn, .signupBtn {
    float: right;
    margin-top: 1vh;
    margin-right: 1.5vw;
    font-family: "EF_Diary";
    padding: 8px 22px;
    background-color: #95cb8f;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 1000;
//width: 150px;
    height: 40px;
    text-align: center;
    font-size: 16px;
}
.loginBtn{
    width: 120px;
}
.signupBtn {
    width: 130px;
}

.loginBtn:hover, .signupBtn:hover {
    transition: 0.3s;
    letter-spacing: 0px;
    transform: scale(1.1);
    cursor: pointer;
}

.loginBtn:active, .signupBtn:active {
    transform: scale(1.05);
}

.login-modal, .signup-modal {
    background-image: url(../Resources/Images/background-image/modal-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    overflow:hidden;
    background-color: white;
    width: 400px;
    height: 550px;
    top: 10%;
    bottom: 15%;
    left: 10%;
    right: 10%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
    margin: 0 auto;
    border-radius: 20px;
    transition: 5s;
}
.login-modal:active, .signup-modal:active {
    transition: 5s;
}
.login-modal-logo, .signup-modal-logo {
    float: center;
    font-family: "JejuDoldam";
    margin-bottom: 50px;
}
.login-txt, .signup-txt {
    margin-top: 15px;
    font-size:large;
}
.button-container {
    display: flex;
    flex-direction: column; /* 버튼들을 세로로 배치 */
    align-items: center; /* 버튼들을 중앙에 정렬 */
}
.login-back-btn, .login-btn, .signup-back-btn, .signup-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 45%;
    height: 45px;
    border: none;
    font-weight: bold;
    border-radius: 45px;
    background-color: #8bd485;
    color: white;
    font-size:large;
    font-family: "EF_Diary";
}
.login-btn, .signup-btn {
    margin-top: 20px;
}

.login-btn:hover, .signup-btn:hover, .login-back-btn:hover, .signup-back-btn:hover {
    transition: 0.3s;
    letter-spacing: 0px;
    transform: scale(1.1);
    cursor: pointer;
}

.login-btn:active, .login-back-btn:active, .signup-btn:active, .signup-back-btn:active {
    transform: scale(1.3);
}

.login-btn:disabled, .signup-btn:disabled {
    background-color: #dadada;
    color: white;
    cursor: auto;
    transition: none;
    transform: none;
}